<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Benji is a <i><b> detail-oriented, self-driven, and resourceful </b></i> individual who is skilled in <i><b>IT / lab automation</b></i> and <i><b>Research & development</b></i> looking for exciting opportunities in the fast-paced tech industry.</p>
      </div>
      <div class="col-lg-4">
        <p>Benji has years of expertise in testing, troubleshooting, <i><b>failure analysis/risk mitigation </b></i>, analytical process development, <i><b>quantitative data analysis / visualization </b></i>, and curriculum design
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://benjipeng.github.io/benjipeng/" class="btn btn-lg btn-outline">
          <i class="fa fa-link"></i> More About Me
        </a>
      </div>
    </div>
  </div>
</section>
